<div class="svg-container" *ngIf="showDone">
    <svg width="254" height="478" viewBox="0 0 254 478" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="254" height="478" fill="#FF4646" />
        <g id="arrow" filter="url(#filter0_d)">
            <path d="M47 365.31L127 440.969L207 365.31M127 430.456V277.031" stroke="#F9F34E" stroke-width="15"
                stroke-linecap="round" stroke-linejoin="round" />
        </g>
        <g id="circle-around-arrow" filter="url(#filter1_d)">
            <path
                d="M127 238.906C61.3021 238.906 8 289.71 8 352.328C8 414.946 61.3021 465.75 127 465.75C192.698 465.75 246 414.946 246 352.328C246 289.71 192.698 238.906 127 238.906Z"
                stroke="black" stroke-width="8" stroke-miterlimit="10" />
        </g>
        <g id="first-circle" filter="url(#filter2_d)">
            <path
                d="M127 131C108.229 131 93 146.229 93 165C93 183.771 108.229 199 127 199C145.771 199 161 183.771 161 165C161 146.229 145.771 131 127 131Z"
                stroke="#F9F34E" stroke-width="4" stroke-miterlimit="10" />
        </g>
        <g id="middle-circle" filter="url(#filter3_d)">
            <path
                d="M127.5 57C117.839 57 110 64.8385 110 74.5C110 84.1615 117.839 92 127.5 92C137.161 92 145 84.1615 145 74.5C145 64.8385 137.161 57 127.5 57Z"
                stroke="black" stroke-width="3" stroke-miterlimit="10" />
        </g>
        <g id="smallest-circle" filter="url(#filter4_d)">
            <path
                d="M127.5 1C122.807 1 119 4.80729 119 9.5C119 14.1927 122.807 18 127.5 18C132.193 18 136 14.1927 136 9.5C136 4.80729 132.193 1 127.5 1Z"
                stroke="#F9F34E" stroke-width="2" stroke-miterlimit="10" />
        </g>
        <defs>
            <filter id="filter0_d" x="35.5" y="269.531" width="183" height="186.938" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                <feOffset dy="4" />
                <feGaussianBlur stdDeviation="2" />
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
            </filter>
            <filter id="filter1_d" x="0" y="234.906" width="254" height="242.844" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                <feOffset dy="4" />
                <feGaussianBlur stdDeviation="2" />
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
            </filter>
            <filter id="filter2_d" x="87" y="129" width="80" height="80" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                <feOffset dy="4" />
                <feGaussianBlur stdDeviation="2" />
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
            </filter>
            <filter id="filter3_d" x="104.5" y="55.5" width="46" height="46" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                <feOffset dy="4" />
                <feGaussianBlur stdDeviation="2" />
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
            </filter>
            <filter id="filter4_d" x="114" y="0" width="27" height="27" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                <feOffset dy="4" />
                <feGaussianBlur stdDeviation="2" />
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
            </filter>
        </defs>
    </svg>    
</div>
