<article>
    <section class="header">
        <h1>FOOOOOOD!</h1>
        <h2>Make it easy to find food</h2>
    </section>
    <section class="form-container">
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm)">
            <input class="searchbox" type="search" formControlName="query" placeholder="Search...">

            <input 
                class="distanceSlider"
                type="range" 
                formControlName="radius" 
                value="10"
                step="1"
                min="0" max="25">
            
            <button type="submit">Submit</button>

            <button 
                type="button"
                class="locationButton"
                (click)="locate($event)"
                >Get Location</button>
        </form>
        {{searchForm.value | json}}
    </section>
</article>

<app-loading *ngIf="loadingDone==false"></app-loading>

<app-restaurant-view
    *ngIf="loadingDone"
    [restaurants]="restaurants$"></app-restaurant-view>