<article>
    <section class="header">
        <h1>Food App</h1>
        <p>Find good food around you!</p>
    </section>
    <section>
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm)">
            <input type="search" formControlName="query" placeholder="Search...">
            <mat-slider 
            formControlName="radius"
            thumbLabel
            min="0" max="100" 
            step="1" value="15"></mat-slider>
            
            <button type="submit">Submit</button>

            <button 
                type="button"
                formControlName="location"
                class="locationButton"
                (click)="locate($event)"
                >Get Location</button>
        </form>
        {{searchForm.value | json}}
    </section>
</article>