<article>
    <h1>Restaurants: </h1>
    <section>
        <ul class="container loaded">
            <li class="card"  *ngFor="let restaurant of restaurants | async">
                <header>
                    <h2 class="name">{{restaurant.restaurant.name}}</h2>
                </header>
                <hr>
                <footer>
                    <div class="cuisines">
                        <p><strong>Cuisines:</strong> {{restaurant.restaurant.cuisines}}</p>
                    </div>
                    <p class="contact"><strong>Contact:</strong> {{restaurant.restaurant.phone_numbers}}</p>
                    <div *ngIf="restaurant.restaurant.menu_url" class="menu">
                        <a [href]="restaurant.restaurant.menu_url">Menu</a>
                    </div>

                    <ul class="highlights">
                        <h4>Highlights: </h4>
                        <br>
                        <li *ngFor="let highlight of restaurant.restaurant.highlights; let l = count; let i = index">
                            <div>{{highlight |titlecase}}</div>
                        </li>
                    </ul>
                </footer>
            </li>
        </ul>
        <button (click)="getMore()">Show More</button>
    </section>
</article>
