@import '../../../colors.scss';

* {
    list-style: none;
}

.container {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    
    .card {
        animation: animateIn 1s linear 0s 1 normal;

        width: 16rem;
        height: 25rem;
        padding: 1rem;
        margin: 1.5rem;
        
        border-radius: 4px;
        background-color: $whiteShade;
        // display: flex;
        // flex-direction: column;
        // justify-content: start;

        header {
            height: 25%;
            justify-self: start;
        }

        footer {
            height: 75%;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: .5fr .5fr 1fr 2fr;
            overflow: scroll;

            .cuisines {
                p {
                    
                }
            }
            .contact {
                margin-bottom: .5rem;
            }
            .menu {
                width: 100%;
                margin-bottom: 1rem;
                a {
                    display: block;
                    background-color: $light-pinkish;
                    text-align: center;
                    border-radius: 4px;
                    text-decoration: none;
                    color: $whiteShade;
                    padding: .5rem;
                }
            }
            .highlights {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                overflow: scroll;
                h4 {
                    width: 100%;
                    margin-bottom: .5rem;
                }
                li {
                    margin: 0;
                    background-color: $light-pinkish;
                    color: white;
                    text-align: center;
                    padding: .5rem;
                    width: auto;
                    max-height: 2rem;
                    border-radius: 25px;
                }
            }
        }
    }
}

@keyframes animateIn{
    from {
        opacity: 0;
        transform: translateY(150px) rotateX(.1turn) rotateY(-.2turn);
    }
    to {
        opacity: 1;
        transform: translateY(0) rotate(0, 0, 0);
    }
}
